:root{
  --main-text-color: black;
  --secondary-text-color: #fff; 
  --main-bgcolor: #333;
  --secondary-bgcolor: ghostwhite;
  --tertiary-bgcolor: #ff0057;
  --main-shadow: 5px 10px 20px rgba(0,0,0,0.8);
  --secondary-shadow: 0px 10px 10px rgba(0,0,0, 0.4);
  --add-color: #41d7a7;
  --del-color: crimson;
  --edit-color: yellow;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace ;
}
html{
  font-size: 24px;
}
body{
  background-color: #3f3f3f;
  font-size: 1.6rem;
  line-height: 1.5;
}

.title{
  text-align: center;
  font-weight: 600;
  box-shadow: var(--secondary-shadow);
  margin-bottom: 85px;
  
}
.price:hover {
  background: var(--tertiary-bgcolor);
  color: var(--secondary-text-color);
  box-shadow: var(--secondary-shadow);
}
/* ***** Loading ***** */
.spinner-overlay{
  background: rgba(220,170,50,0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fcf;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ***** HOME ***** */

.container-products{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
@media screen and (max-width: 800px) {
  .container-products{
    grid-template-columns: repeat(1,1fr);
  }
}
p{
  font-size: 0.8em;
}
Link{
  
  font-size: 1.8em;
  font-weight: 600;
}
a{
  text-decoration: none !important;
}
.navbar-brand {
  color: var(--secondary-text-color) !important;
}
.nav-link{
  color: var(--secondary-text-color) !important;
}