h1 {
  font-size: 1.2em;
}

.image-container {
  box-shadow: var(--main-shadow);
}

.image-content {
  width: 500px;
  border-radius: 4px;
  padding: 25px;
}

.image-product {
  height: 400px;
  object-fit: contain;
}

.detail-container { 
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .carousel-control-next-icon,
.carousel-control-prev-icon {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
} */