.container {
  width: 1000px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .card {
  position: relative;
  margin: 10px;
  --bs-card-border-color:transparent;
}

.container .card .face {
  width: 300px;
  height: 300px;
  transition: 1s;
  /* border: 1px solid crimson; */
}

.container .card .face.front-face {
  height: 250px;
  position: relative;
  background: var(--secondary-bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container .card:hover .face.front-face {
  background-color: var(--secondary-bgcolor);
  transform: translateY(0);
}

.container .card .face.front-face .content {
  opacity: 0.85;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card:hover .face.front-face .content {
  opacity: 1;/* 
  border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .face.front-face .content .over{
  position: absolute;
  transition: .6s;
  /* border: 1px solid green; */
}
.container .card .face.front-face .content:hover .over{
  opacity: 1;
} 
.container .card .face.front-face .content img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  object-fit: contain;
  width: 95%;
}
.car-img-container{
  width: 250px;
  height: 250px;
}
.car-img{
  height: 90%;
  object-fit: contain;
}
/* .container .card .face.front-face .content h2 {
  margin: 10px 0 0;
  padding: 0;
  color: var(--main-text-color);
  text-align: center;
  font-size: 1.5em;
} */

.container .card .face.back-face {
  height: 165px;
  position: relative;
  background: var(--secondary-bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: var(--main-shadow);
  transform: translateY(-85px);
}

.container .card:hover .face.back-face {
  transform: translateY(0);
  /* border: 1px solid chartreuse; */
}
.container .card .face.back-face .content{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* border: 1px solid chartreuse; */
}
.container .card .face.back-face .content .content-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  /* border: 1px solid chartreuse; */
}

.container .card .face.back-face .content h4 {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 500;
  /* border: 1px solid chartreuse; */
}
.product-title{
  display: flex;
  justify-content: left;
  align-items: center;
}
.container .card .face.back-face .content p {
  margin: 0;
  font-size: 0.8em;
  display: inline-block;
  color: var(--primary-text-color);
  padding: 5px;
  /*  border: 1px solid crimson; */
}

.container .card .face.back-face .content .price {
  background: var(--tertiary-bgcolor);
  color: var(--secondary-text-color);
}

.btn-container {
  display: flex;
  justify-content: right;
}

.btn-add {
  margin: 0;
  width: 45px;
  height: 45px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  background: var(--add-color);
}